@font-face {
    font-family: vazirmatn;
    src: url('vazirmatn.woff2') format('woff2 supports variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

body{    
    font-family: vazirmatn;
    width: 70vw;
    margin: 8em auto;    
}

#logo{
    width: 4em;
    display: block;
    margin: .8em auto;    
}

#description{
    max-width: 29em;
    margin: 0 auto;
}

#preview{
    display: block;
    margin: 0 auto;
}

#download{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;   
    margin-top: 1.2em;
}

.btn {
    background-color: hsl(204, 100%, 40%);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    text-decoration: none;    
    font-weight: 300;
    text-align: center;   
    width: 12em;   
    color: white;   
    cursor: pointer;
    margin: 1em;      
}

p{
    font-size: 1.3em;
    line-height: 1.6;    
}

h1,h2{
    text-align: center;
}

#shutdown{      
    text-align: center;    
    font-size: 1em;
   
    background-color: rgb(243, 243, 243);
    margin: 0 auto;
    margin-top: 4.5em;
    max-width: 60em;
    padding: 1.2em 1em;
    border-radius: 8px;
}

#donation{    
    background-color: rgb(0, 202, 34);
    color: black;
    font-weight: 500;
}

#source{
    text-align: center;
    text-decoration: underline;
    background-color: transparent;
    color: black;
    font-weight: 300;
    display: block;
    margin: 0 auto;    
    height: 1.4em;
}

#email{
    font-size: 14px;
    font-family: sans-serif;
    text-align: center; 
    margin-bottom: 0;   
}

#note{     
    font-size: .9em;
    font-weight: 400;
    background-color: rgb(255, 242, 185);    
    margin: 0 auto;
    margin-top: 2em;    
    max-width: 39em;
    padding: 1em 1em;
    border-radius: 8px;
    
}
